* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: scroll 0.5 ease;
    
  
}



body {
    min-height: 100vh;
    background: white;
    max-height: 800px; 
    overflow-y: auto; 
    overflow-x: hidden

}


header {
    position: fixed;
    height: 100px; 
    width: 100%;
    background-color: aquamarine;
    z-index: 1000; 
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}


.Homepage, .About, .gallery, .section-p1, #cart {
    padding-top: 120px; 
}

.img-responsive {
width: 8%;
height: auto;

}

.business-logo {
    font-size: 30px;
    color: lightyellow;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; 
}

nav ul li a {
    text-decoration: none;
    color:blue;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: blue; 
    text-decoration: underline;
}

/* Homepage Styles */
.Homepage {
    padding: 220px 20px 100px; 
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.Homepage h1 {
    font-size: 90px;
    line-height: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0;
    animation: fadeIn 1.5s ease-in-out;
}

/* slide Styles */
.slider {
    height: 300px;
    display: grid; 
    place-items: center; 
    margin: auto;
    display: grid; 
    place-items: center;
    position: relative;
    overflow: hidden;

}

.slide-track {
    display:flex;
    width: calc (250px * 18);
    animation: scroll 50s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height:  200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide img {
    width: 100%;
}

.slide img:hover {
    transform: translateZ(20px);
    transition: transform 1s ease;
}

.slider::before,
 .slider::after {
    background: linear-gradient( to right,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
 }
 
 .slider::before {
    left: 0;
    top: 0;

 }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
 }

.Homepage p {
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
    color: black;
    max-width: 800px;
    margin: 20px auto;
}

.divider {
    margin-top: 300px;
    height: 200px; 
    width: 100%;
    background-image: url(divider\ wallpaper.png);
    background-size: cover;
    background-position: center;
  
    z-index: 1000; 
}

/* About Section Styles */
.About {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
    padding: 40px 20px; 
    margin-top: 100px; 
    text-align: none;
    background-color: transparent; 
    border-radius: 10px; 
    max-width: 800px; 
    margin: 100px auto; 
    margin-bottom: 210px;
    margin-left: 300px;
    display: flex; 
    flex-direction: left;
}

.about-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 80px;
   

}

.about-content-section {
    text-align: none;
    float: left;
    width: 55%;
    
}

.about-image-container {
    float: right;
    width: 40%;
  
}

.about-image-container img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    margin-left: 300px;
  


}

.about-image-container:hover {

    transform: scale(1.1); 
    transition: transform 0.6s ease;
}

.about-content-section .title {
    color: black;
    font-size: 35px;
    font-weight: bold;
    position: center;
    
}

.about-content-section .about-content h3 {
    margin-top: 10px;
    color: black;
    font-size: 21px;
}

.about-content-section .about-content p {
    margin-top: 10px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

.about-content-section .about-content .button {
    margin-left: 40px;
    margin-top: 40px;
}
.about-content-section .about-content .button:hover{
    transform: scale(1.1); 
    transition: transform 0.6s ease;
}

.about-content-section .about-content .button a{
    background-color:navy;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1.5px;
    border-radius: 80px;
}

.about-content-section .about-content .button a:hover {
    background-color: blue;
    color:aqua;
}

.about-content-section .about-social {
    margin-top: 60px;
    margin-left: 40px;
}

.about-content-section  .about-social i{
    color: blue;
    font-size: 30px;
    padding: 0px 10px;
}

.about-content-section  .about-social i:hover{
    color: black;
   
}


/* Gallery Styles */
.gallery {
    width: 100%;
    padding: 100px 20px; 
    margin-top: 100px; 
    text-align: center;
    background-color: transparent; 
    border-radius: 10px; 
    max-width: 800px; 
    margin: 100px auto; 
}

.gallery h2 {
    margin-top: 100px;
    font-size: 40px; 
    margin-bottom: 20px; 
    color: black; 
    margin-bottom: 80px;
}

.gallery .image-container {
    display: flex; 
    justify-content: center; 
    margin: 20px 0; 
}

.gallery img {
    width: 350px; 
    height: auto; 
    margin: 0 10px; 
    transition: transform 0.3s ease; 
    margin-bottom: 20px;
    border-radius: 30px;
}

.gallery img:hover {
    transform: scale(1.1); 
}

.gallery p {
    margin-top: 80px;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

/* Shop Styles */
.section-p1 {
    
    background-image: url(Wallpaper\ shop\ section.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.section-p1 h2 {
    margin-top: 100px;
    font-size: 30px;
    line-height: 64px;
    color: black;
}

.section-p1 h4 {
    font-size: 20px;
    color: black;
}
       
#product1 {
    text-align: center;
    padding: 20px;
    margin:40px 10px;
}

#product1 .products-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin: 0 300px;
}

#product1 .pro {
 width: 23%;   
 min-width: 190px;
 padding: 10px, 12px;
 border: 1px solid #ddd;
 box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.01);
 background-image: url(blocks.jfif);
 background-size: cover;
 background-position: center;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 margin: 15px 0;
 transition: 0.2s ease;
 border-radius: 20px;
 position: relative;
}

#product1 .pro:hover{
    transform: translateY(-10px); 
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
    background-image: none;
    background-color: #999;
    color:white;
    transition: transform 0.3s ease;
}

#product1 .pro img {
    width: 60%;
    height: auto;
    border-radius: 20px;
    margin-top: 17px;
    transition: transform 0.3s ease;
 }

 #product1 .pro:hover img {
    transform: scale(1.05);  
}

 #product1 .pro .des {
    text-align: start;
    padding: 10px 0;
    margin-left: 30px;
 }

 #product1 .pro .des span {
    color:gray;
    font-size: 12px;
    font-weight: 700;
 }
 
 #product1 .pro .groupdescription h5 {
    padding-top: 7px;
    color:black;
    font-size: 14px;
 }
 
 #product1 .pro .des i{
    font-size: 12px;
    color:yellow;
 }

 

 #product1 .pro .des h4{
    padding-top:  7px;
    font-size: 15px;
    font-weight: 700;
    color: maroon;
 }

 button {
    display: inline-block;
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

button:hover {
    background-color: gray;
    color: whitesmoke;
}

 #product1 .pro .cart {
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: gray;
    color: whitesmoke;
    font-weight: 500;
    border:1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
 }

 #product1 .pro .cart:hover {
    background-color: whitesmoke;
    color: black;

    cursor: pointer;
 }

 .addToCart {
    border: 1px solid #cce7d0;
    border-radius: 10px; 
    padding: 15px; 
    margin-top: 20px; 
    background-image: url(blocks.jfif);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 700px; 
    margin-left: auto; 
    margin-right: auto; 
}

.addToCart :hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.addToCart h2 {
    font-family: 'Poppins', sans-serif; 
    color: black; 
    margin-bottom: 10px; 
}

.addToCart p {
    font-size: 1.2em; 
    font-weight: bold; 
    margin: 5px 0; 
    margin-left: 20px;
}

.checkout-btn {
    display: inline-block; 
    background-color: #28a745; 
    color: white; 
    border: none;
    border-radius: 5px; 
    padding: 8px 15px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.checkout-btn:hover {
    background-color: #218838; 
}

 .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 0px 5px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-display {
    margin: 2px 5px;
 
}

.increase-button, .decrease-button {
    cursor: pointer;
    padding: 5px 10px;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #555;
}
.remove-button {
    background-color: red;
}
.remove-button:hover {
    background-color: darkred;
}

/* Button Styles */
button {
    background-color:navy;
    color: white;
    border: none;
    padding: 8px; 
    font-size: 14px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: black;
    color: skyblue ;
    transform: scale(1.3); 
    transition: transform 0.6s ease;
}

/* Cart Styles */
#cart {
    margin-top: 40px;
    background:transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#cart h2 {
    margin-bottom: 20px;
    color: #333;
}


/* Team Styles*/
.teampage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F9F9F9;
    color: #333;
}

.wrapper .TeamContainer {
    text-align: center;
}

.TeamContainer h2{
    font-size: 40px;
    line-height: 64px;
    color: black;
    display: inline-block;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
    word-wrap: break-word;
    margin-top: 100px;
}

.TeamContainer p{
  
    font-size: 15px;
    color:black;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    margin-top: 10px;
    padding: 10px 20px; 

   
}

.wrapper .card_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card_container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, 1),
                inset 0 00 1000px rgba(67, 52, 109, .6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_.imbBx, .imbBx img {
    width: 100%;
    height: 100%;
}

.card .content {
    position: absolute;
    width: 100%;
    bottom: -160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border:1px solid  rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    transition:bottom 0.5s;
    transition-delay: 0.6s;
}

.card:hover .content{
    bottom:0;
    transition-delay:0s;
}

.content .contentBx h3 {
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);

}

.content:hover .contentBx h3 {
    transform: translateY(0);
    opacity: 1;
}


.content .contentBx h3 span{
    font-size: 12px;
    font-weight: 500;
    text-transform: initial;
    color: maroon;
   
}

.content .sci{
    position: relative;
    bottom: 10px;
    display: flex;
}

.content .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}

.card:hover .content .sci li {
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a{
    color: blue;
    font-size: 25px;


}





footer {
    height: 500px; 
    width: 100%;
    background-color: aquamarine;
    z-index: 1000; 
    color: blue;
    padding: 50px 40px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 11x;
    color: #555;
    margin-bottom: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input,
.footer-section textarea {
    width: 100%;
    height:auto ;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/*Footer Styles*/
.footer-section button {
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.footer-section button:hover {
    background-color: #218838;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
}


@media only screen and (max-width: 768px) {
    .navigation, .gallery .image-container, #product1 .products-container {
        flex-direction: column;
        align-items: center;
    }
}
